html {
    background-color: aquamarine;
}
#box{
    font-family: 'Courier New', Courier, monospace;
    color: blue;


    position: relative;
    padding-left: 10px;
    display: block;
    height: 400px;









}