html {
    background-color: aquamarine;
}
#box{
    font-family: 'Courier New', Courier, monospace;
    color: blue;


    position: relative;
    padding-left: 10px;
    display: block;
    height: 400px;

    padding-top:12px;
    padding-bottom:12px;
    padding-right:12px;
    padding-left:12px;







}